	{% extends 'base.html' %}
	{% block content %}



	<div class="container">	
		<div class="row">
			<form class="col s12"  action="" method="POST">      
				{{form.csrf_token}}
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					{{form.login(class="validate", placeholder="Login")}}			
					{% if form.errors.login %}
					<p>{{ M.toast({html: form.errors.login}) }}</p>
					{% endif %}
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">password</i>
					{{form.password(class="validate", placeholder="Senha")}}
					{% if form.errors.password %}					
					<p>{{form.errors.password}}</p>
					{% endif %}          
				</div>

				<div class="center">
					<button class="btn waves-effect waves-white black" type="submit">Logar</button>        	
					<a href="{{url_for('index')}}" class="btn waves-effect waves-white black">Voltar</a>
				</div>      
			</form>
		</div>
	</div>

	
	{% endblock %}